.section--testimonials {
  height: 100vh;
  background-color: var(--color-primary);
  padding: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--section-border);

  @media only screen and (max-width: $bp-medium) {
    padding: 15rem 1rem;
  }
}

.testimonial__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  overflow: hidden;
  width: 70%;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }
}

.testimonial {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  padding: 8rem;
  position: relative;

  transition: transform 0.3s ease-in-out;

  &__figure {
    font-size: 1.7rem;
    color: var(--color-font-primary);

    div {
      height: 60px;
      width: 60px;
      border-radius: 50%;

      margin-bottom: 1rem;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name {
    color: var(--color-accent-dark);
  }
  &__caption {
    position: relative;
    &::before {
      content: '\201C';
      position: absolute;
      top: -2rem;
      left: -2rem;
      font-size: 4rem;
      font-family: inherit;
      color: var(--color-secondary);
    }
  }

  &__btn--left,
  &__btn--right {
    cursor: pointer;
    font-size: 4rem;
    color: var(--color-accent-dark);
    margin: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 600;
    position: relative;
    z-index: 10;
  }

  &__btn--left:hover {
    animation: slideleft 0.5s ease-in-out infinite alternate;
  }

  &__btn--right:hover {
    animation: slideright 0.5s ease-in-out infinite alternate;
  }

  @keyframes slideleft {
    to {
      transform: translateX(-1rem) scale(1.05);
    }
  }

  @keyframes slideright {
    to {
      transform: translateX(1rem) scale(1.05);
    }
  }

  &__btn--right {
    justify-self: end;
    grid-column: 6/7;
    grid-row: 1/-1;
  }
  &__btn--left {
    justify-self: start;
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}

.dots--container {
  position: relative;
  z-index: 20;
  padding: 0.3rem;
  grid-column: 3/5;
  grid-row: 5/6;
  display: flex;
  gap: 1rem;

  cursor: pointer;
}

.slider--dots {
  outline: none;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--color-font-dark-light-bg);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.active--dot {
  background-color: var(--color-font-primary);
}
